* {
     max-width: 100%;
 }
     
     
#pageWrap {
    box-sizing: border-box;
    max-width: 100%;

}

html {
    min-height: 100%;
    max-width: 100%;
    
}

body {
    background-color: rgba(205, 173, 166, 0.188) ;
    display: block;
    margin: 0;
    max-width: 100%;
    padding: 1.5em;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(238,246,255,0.865983893557423) 100%);
    padding-bottom: 0;

}
main {
    margin-top: 1em;
}

a {
    text-decoration: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: black;
}

p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    font-size: 1em;
}

h3 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Cormorant Garamond', serif; 
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em;
}


img {
    max-width: 100%;
}

.headers {
    margin: 0.5em 0;
    text-align: center;
    text-decoration: underline 1px solid;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 50px;
    position: relative;
}

.topbar a {
    text-decoration: none;
    color: rgb(78, 63, 63);
    border: 2px solid #ffe9f2;
    font-size: 1.4rem;
    padding: 0 5px;
    margin-left: 0;
    text-align: center;

}

.topbar a:hover {
        color: rgb(144, 111, 111);
        border: 3px solid black;
        letter-spacing: 5px;
        transition: 0.5s ease-in-out;
    
}

.nav {
    flex-basis: auto;
}

.navlinks ul {
    font-family: 'Fredoka One', cursive;
    list-style: none;
    display: flex;
    gap: 1.5em;
    padding: 0.3em;
    max-width: 100%;
}

#title a  {
    font-family: 'Fredoka One', cursive; 
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    cursor: pointer;
    border: none;

}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 1em;
    
}

.hamburger:hover .hamburger-content {
    display: block;
    background-color: rgba(205, 173, 166, 0.8);
    padding-top: 1em;
    font-family: 'Fredoka One', cursive;
    list-style: none;
    text-align: right;
    margin-bottom: 1em;
    right: 2%; 
  
  }

  .hamburger-content {
    display: none;
    position: absolute;
    z-index:1;
  }

  .hamburger-content li {
    margin-bottom: 1em;
  }

  .hamburger-content a {
    padding-right: 0.25em;
    padding-left: 3em;
    font-size: 2em;
  }

  .hamburger-content a:hover {
    color: white;
  }

.bar {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid rgb(9, 9, 9);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .navlinks {
  display: none;
  position: absolute;
  left:0;
  z-index:1;
    }
    
}

.splash {
    padding-top: 1em;
    width: 100%;
    min-height: 80vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./Assets/brooke-lark-uarQNKJUdJk-unsplash.jpg);


}

.splash h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 5rem;
    padding-top: 1.7em;
    margin-top: 0;
}

.splash h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
}

form button {
    padding: 1em;
    border-radius: 25px;
    position: relative;
    background-color: aliceblue;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5em;
    

}

button:hover {
    background-color: white;
    letter-spacing: 2px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.backup {
    text-align: center;
    text-decoration: none;
    color: rgb(78, 63, 63);
}

.findus {
    gap: 2em;
    margin-top: 1em;
    font-size: 1.5rem;
    width: 100%;
}

.findus > * {
    padding: 1em;
}

.iframe {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    border: 3px solid #ffe9f2;

}

.sidebar p {
    width: inherit;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1em;
  align-items: end;
  justify-items:center;
  margin-top: 2em;
}

/* for screen less than 800px */
@media all and (max-width: 800px){
    .grid3 {
        grid-template-columns: 1fr;
    }
}

/* for screen less than 460px */
@media all and (max-width: 460px){
    .grid3 {
        grid-template-columns: 1fr;
    }
}
    
/* and for printed version of our website */
@media print {
    .grid3 {
    grid-template-columns: 1fr;
    }
}

.galleryphoto {
    padding-top: 1em;
}

.grid2by2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

}

.col {
    flex: 1 1 200px;
    margin-top: 1em;
    width: 50%;
    cursor: pointer;
}

.col h3:hover {
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    border: 3px dotted black;
    transition: 0.5s all ease-in-out;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    text-decoration: none;
    box-shadow: 5px 8px 8px black;

}

.grid3by3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap:1em;
  align-items: center;
  justify-items:center;
  margin-top: 2em;
}

.grid3by3 div {
    height: 100%;
    margin: 1em;
}
.grid3by3 div img {
    height: 80%;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1em;
}
.grid3by3 p {
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #ffe9f2;
    padding: 0.3em;
}

.grid3by3 p:hover {
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: 3px solid black;
    transition: 0.5s all ease-in-out;
    color: rgb(124, 118, 118);
    letter-spacing: 1px;
}

/* for screen less than 800px */
@media all and (max-width: 800px){
    .grid3by3 {
        grid-template-columns: 1fr;
    }
}

/* for screen less than 460px */
@media all and (max-width: 460px){
    .grid3by3 {
        grid-template-columns: 1fr;
    }
}
    
/* and for printed version of our website */
@media print {
    .grid3by3 {
    grid-template-columns: 1fr;
    }
}

.footer {
    background-color: #ffe9f2;
    margin-top: 1em;
    align-items: center;
    justify-content: center;


}

.footer h4 {
padding: 1em;
text-align: center;
align-items: center;
justify-content: center;
font-family: 'Fredoka One', cursive;
margin: 0
}

.footer p {
text-align: center;
font-family: 'Cormorant Garamond', serif;
padding-bottom: 1em;

}


